body {
  padding: 0 10%;
}

h1 {
  font: {
    family: "Lucida Grande", sans-serif;
  }
}

section.feed {
  border: 1px solid #BBB;
  padding: 0 1em;
  margin-bottom: 1em;
  h1 {
    font-weight: normal;
    img {
      vertical-align: middle;
      max-height: 36px;
    }
    a.url {
      font-size: small;
      text-decoration: none;
      color: #999;
    }
  }
}

a {
  $color: #12F;
  color: $color;
  &:hover {
    color: lighten($color, 15%);
  }
}

body {
  font: {
    family: Verdana, sans-serif;
  }
}

li.track {
  font-size: 90%;
  padding: 0.3em;
  padding-left: 24px;
  clear: both;
  min-height: 50px;

  &.even {
    background-color: #FAFAFA;
  }
  &.odd {
    background-color: #FFF;
  }
  &.playing {
    background: {
      image: url(/image/speaker-orange.gif);
      repeat: no-repeat;
      position: 0.3em center;
    }
  }
  &.load-more {
    font-size: larger;
    text-align: center;
    list-style: none;
    &:hover {
      background-color: #D8D9F4;
      cursor: pointer;
    }
  }

  .title {
    // display: block;
  }

  img {
    float: right;
    max-width:  60px;
    max-height: 45px;
    margin: 0.2em;
  }
}
