body {
  // padding: 0 10px;
}

h1, h2 {
  font: {
    family: "Lucida Grande", sans-serif;
  }
}

section {
  // clear: both;
  border: 1px solid #BBB;
  padding: 0 1em;
  margin-bottom: 1em;
  h1, h2 {
    font-weight: normal;
  }
  h1 {
    img {
      vertical-align: middle;
      max-height: 36px;
    }
    a.url {
      font-size: small;
      text-decoration: none;
      color: #999;
    }
  }
}

#container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

section#feeder {
  width: 840px;
  float: left;
}

section#queue {
  width: 190px;
  float: left;
  font-size: smaller;
  margin-left: 10px;
  padding: 0;

  h1 {
    font-size: medium;
    padding: 0.5em;
    margin: 0;
    text-align: center;
  }

  li {
    padding: 0.5em;
  }
}

a {
  $color: #12F;
  color: $color;
  &:hover {
    color: lighten($color, 15%);
  }
}

body {
  font: {
    family: Verdana, sans-serif;
  }
}

#feeder {
  li.track {
    min-height: 50px;
  }
}

li.track {
  font-size: 90%;
  padding: 0.3em;
  padding-left: 24px;
  clear: both;

  &.even {
    background-color: #FAFAFA;
  }
  &.odd {
    background-color: #FFF;
  }
  &.system {
    color: #999;
    background-color: #EAEAFA;
    min-height: 0;
    list-style: none;
    line-height: 1.5em;
    vertical-align: middle;
    span.title {
      font-size: 90%;
    }
  }
  &:hover, &:focus {
    background-color: #EFEFF5;
  }
  &.playing {
    background: {
      image: url(/image/speaker-orange.gif);
      repeat: no-repeat;
      position: 0.3em center;
    }
  }
  &.load-more {
    font-size: larger;
    text-align: center;
    list-style: none;
    &:hover {
      background-color: #D8D9F4;
      cursor: pointer;
    }
  }

  .title.not-loaded {
    color: #666;
  }
  a.url {
    text-decoration: none;
    color: #999;
  }
  img {
    float: right;
    max-width:  60px;
    max-height: 45px;
    margin: 0.2em;
  }
  span.meta {
    color: #999;
    font-size: 90%;
  }
  span.status {
    color: #AAA;
    font-size: smaller;
    &:before {
      content: "status: ";
    }
  }
  span.error {
    color: #F88;
    font-size: smaller;
    border: 1px solid #FCC;
    padding: 2px 4px;
    &:before {
      content: "error: ";
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  li {
    margin: 0;
  }
}

#select-feeder {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    max-width: 20em;
    height: 2em;
    overflow: hidden;
    float: left;
    font-size: small;
    margin-bottom: 2px;
    margin-right: 2px;
    border: 1px solid #DDD;
    cursor: pointer;
    opacity: 0.5;
    &.selected {
      border-color: #BBB;
      opacity: 1;
    }
    &:hover, &:focus {
      background-color: #EFEFF5;
    }
    .icon-container {
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      img {
        vertical-align: middle;
        max-width: 16px;
        max-height: 16px;
      }
    }
  }
}
